* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
